<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />

    <!-- Title and Description ================================ -->
    <title>
      {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <!-- Header Content ================================ -->
    {{ content_for_header }}

    <!-- Stylesheets ================================ -->
    {{ 'styles.css' | asset_url | stylesheet_tag }}

    <!-- jQuery ================================ -->
    {{ '//code.jquery.com/jquery-1.11.3.min.js' | script_tag }}

    <!-- Shopify ================================ -->
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {% if template contains 'customers' %}
      {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}

  </head>

  <body id="{{ page_title | handle }}" class="template__{{ template | replace: '.', '--' }} {% if customer %}customer-logged-in{% endif %}">


    <header class="">
        {% include 'global-header' %}
    </header>

    <main class="">
        {{ content_for_layout }}
    </main> 

    <footer class="">
        {% include 'global-footer' %}
    </footer>
 
    <!-- Footer Scripts ================================ -->
    {{ 'Wishlist.js' | asset_url | script_tag }}
    <script>
      (function() {
        Wishlist.init();
      }());
    </script>
  
  </body>
</html>
